# Binaries (object files) produced by a compiler
*.so
*.o

# Python/Jupyter uses these cache directories
__pycache__
.ipynb_checkpoints

# Produced when measuring code coverage
.coverage

# These files are produced during the Python build process
build/
.eggs
dist/
**.egg-info

# Sphinx documenter creates these
_build
_static
_templates
/docs/reference
/docs/jupyter_execute

# MacOS automatically creates these files
.DS_Store

# VSCode may create a config file with this name
**.vscode
